/*大背景设置为粉红色*/
body{
    background-color:rgb(247, 210, 216);
    margin: 0;
}

/*设置页眉区header的高度，宽度与网页宽度保持一致，背景图片设为横向重复，设置图片的大小*/
#header{
    height:100px;
    background-image: url(../img/天空.jpg);
    background-repeat:repeat-x;
    background-size: 10% 100%;
}

/*对页眉区中划分出来的块设置大小还有背景颜色以及边框的颜色和样式*/
#head{
    width: 200px;
    height: 40px;
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 28px;
    background-color: rgb(216, 226, 252);
    border:2px white dashed ;
    border-radius: 50px;
    color:rgb(250, 145, 145);
    font-size: 30px;
    font-family:"SimSun";
    font-weight:bold;
    text-align: center;
    line-height: 40px;
}

/*设置导航区nav的高度以及背景颜色*/
#nav{
    height:50px;
    background-color:  rgb(112, 140, 211);
}

/*设置导航区的宽度以及导航区居中*/
#nav_1{
    width:1000px;
    margin: auto;
}

/*设置导航区一个块的宽度以及文字位置*/
.nav_1_1{
    width: 250px;
    margin: 0;
    padding:0;
    float: left;
    position: relative;
    vertical-align: bottom;
}

/*设置导航区<a>元素文字样式*/
.nav_1_1 a{
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    font-family: "Microsoft Yahei";
    padding:0 90px;
    text-align: center;
    line-height:50px;
    text-decoration:none;
}

/*设置鼠标出碰到后导航区的颜色变化*/
.nav_1_1:hover{
    background-color: #2f71bd;
}

/*设置内容区*/
#content{
    height: 900px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/*设置内容区的大小背景颜色以及边框*/
#content1{
    height: 105px;
    background-color: white;
    border-bottom: 2px rgb(112, 140, 211) solid ;
}

/*设置图片的位置大小*/
#content1 img{
    border: 2px rgb(247, 210, 216) solid;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    height: 90px;
    width: 90px;
}

/*设置文字的大小位置以及样式颜色*/
#content1_1{
    float: left;
    font-family: "YouYuan";
    font-size: 30px;
    font-weight: bold;
    color:rgb(46, 44, 44);
    padding-top: 32px;
    padding-left: 10px;
}

/*设置块的大小背景颜色以及边框*/
.form1{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 800px;
    height: 180px;
    border:1px rgb(112, 140, 211) solid ;
}

/*设置块和文字的大小样式以及背景颜色*/
.form1_1{
    font-weight: bold;
    font-size: 15px;
    font-family: "SimSun";
    height: 30px;
    line-height: 30px;
    background-color: rgb(216, 226, 252);
}

/*设置选项字体大小位置以及样式*/
.form1_2{
    font-size: 14px;
    font-family: "SimSun";
    margin-top: 10px;
    line-height: 30px;
}

/*设置输入框的位置*/
.form1_3{
    margin-top: 20px;
    margin-left: 20px;
}

/*设置块的位置以及其中字体的样式及大小*/
.form2{
    margin-top: 25px;
    font-family: "STHeiti";
    font-size: 20px;
    font-weight: 500;
}

/*设置块的大小位置背景颜色以及边框*/
.form3{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 800px;
    height: 120px;
    border:1px rgb(112, 140, 211) solid ;
}

/*设置块和其中文字的样式大小以及背景颜色*/
.form3_1{
    font-weight:normal;
    font-size: 13px;
    font-family: "SimSun";
    height: 30px;
    line-height: 30px;
    background-color: rgb(216, 226, 252);
}

/*设置和其他文字不同的文字颜色*/
.form3_1 span{
    color: rgb(189, 12, 12);
}

/*设置块的大小以及位置*/
.form3_2{
    height: 60px;
    margin-top: 10px;
}

/*设置块的大小位置及其中文字样式*/
.form3_2_1{
    height: 25px;
    font-family:  "STHeiti";
    margin-top: 10px;
}

/*设置文字大小以及位置*/
.form3_2_1_1{
    float: left;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    margin-left: 10px;
    width: 80px;
}

/*设置输入框的位置*/
.form3_2_1_2{
    float: left;
}

/*设置块的大小以及背景颜色边框*/
.form4{
    margin-top: 5px;
    height: 30px;
    width: 800px;
    background-color: rgb(216, 226, 252);
    border:1px rgb(112, 140, 211) solid ;
}

/*设置块的大小位置*/
.form4_1{
    margin-top: 2.5px;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 30px;
}

/*设置提交框的大小边框还有文字大小*/
.form4_1_1{
    border-radius: 5px;
    font-size: 15px;
    border: 1.5px solid white;
    background: #fffcac ;
    font-weight: bold;
    color:#2f71bd;
}

/*设置页脚区位置大小以及背景图*/
#footer{
    margin-top: 40px;
    padding-top: 50px;
    height: 20px;
    background-image: url(../img/页脚区图片.png);
    background-repeat:repeat-x;
    background-size: 25% 100%;
}

/*设置文字样式大小背景颜色以及位置*/
#footer p{
    font-family: verdana;
    font-size: 12px;
    font-weight: 100;
    background-color:  rgb(216, 226, 252);
    text-align: center;
}



